SampleApp/projects/VisualStudio50/Debug
SampleApp/projects/VisualStudio50/Release
SampleApp/projects/VisualStudio50/DebugEntry
SampleApp/projects/VisualStudio50/ReleaseEntry

SampleApp/projects/VisualStudio50/SampleApp.opt
SampleApp/projects/VisualStudio50/SampleApp.plg


SampleApp/projects/VisualStudio60/Debug
SampleApp/projects/VisualStudio60/Release
SampleApp/projects/VisualStudio60/DebugEntry
SampleApp/projects/VisualStudio60/ReleaseEntry

SampleApp/projects/VisualStudio60/SampleApp.opt
SampleApp/projects/VisualStudio60/SampleApp.plg


SampleApp/projects/VisualStudio120j/x86
SampleApp/projects/VisualStudio120j/x64
